html {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

a {
    color: #1177d1;
    text-decoration: none;
}

.red {
    color: #aa0000;
}

.green {
    color: #007700;
}

.header .header__title {
    background-color: #002158;
    color: white;
    margin: 0;
    padding: 1em;
}

.navbar {
    padding: 15px;
    background-color: #1177d1;
}

.navbar ul a {
    color: white;
    padding: 4px 1em;
}

.navbar--active {
    color: #222222 !important;
    background-color: #d3edf4;
}

.footer {
    border-top: 1px solid #1177d1;
    padding-top: 1em;
    margin-top: 1em;
}

.footer a {
    padding: 5px;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

nav ul.vertical {
    flex-direction: column;
}

nav ul li {
    flex: 1 1 auto;
    list-style-type: none;
}

header {
    max-width: 50rem;
    margin: 0 auto;
}

header div {
    padding: 0.5rem 0.8rem;
}

header nav ul li a {
    display: block;
    padding: 0.5rem 0.8rem;
    text-align: center;
}

header nav ul li a[aria-current="true"] {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

main {
    max-width: 50rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

article {
    flex: 1 1 auto;
}

figure {
    float: right;
}

figcaption {
    font-size: 0.8rem;
}

aside {
    flex: 0 0 auto;
    width: 8rem;
}

footer {
    max-width: 50rem;
    margin: 0 auto;
    font-size: 0.8rem;
    padding-top: 0.5rem;
}

footer nav li {
    flex: 0 0 auto;
}

footer nav li a {
    padding: 0 0.5rem;
}

table {
    width: 100%;
    border-spacing: 0;
    margin-bottom: 1rem;
}

table th {
    text-align: left;
    padding: 0.3rem 0.5rem;
}

table td {
    padding: 0.3rem 0.5rem;
}

table tbody th {
    font-weight: normal;
    font-style: italic;
}

table thead tr th {
    background: #dddddd;
}

table tbody tr:nth-child(2n) th, table tbody tr:nth-child(2n) td {
    background: #efefef;
}

table tbody td.pb {
    color: #007700;
    font-weight: bold;
}

table tbody td.sr {
    color: #aa0000;
    font-weight: bold;
}

table tfoot {
    font-size: 0.8rem;
}

table tfoot p {
    margin: 0;
}

/*
Utilities

Inspired by TailwindCSS, using its color palette: https://tailwindcss.com/docs/customizing-colors#default-color-palette
 */
.text-center {
    text-align: center;
}

.bg-gray-800 {
    background-color: #2D3748;
}

.text-gray-700 {
    color: #4A5568
}

.text-bold {
    font-weight: bold;
}